<app-titulo [titulo]="titulo"></app-titulo>
<div class="card">
    <div class="card-body">
        
            <div class="col-lg-12">
                <div class="col-lg-12" style="text-align: right;">
                    <div class="row">
                        <div class="col-lg-9">
                        </div>
                        <div class="col-lg-2">
                            <div class="row">
                                <div class="col-lg-6">
                                    
                                </div>
                                <div class="col-lg-6">
                                    <button (click)="regresar()" type="button" class="btn btn-danger" style="color: white;">Regresar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                            <mat-horizontal-stepper [linear]="isLinear" #stepper>
                                <mat-step [stepControl]="userForm">
                                    <form  [formGroup]="userForm"  (ngSubmit)="guardar()">
                                        <ng-template matStepLabel>Información Básica</ng-template>
                                        <div class="col-lg-12">
                                            <div class="row mt-3">
                                                <div class="col-lg-6">
                                                    <label for="">Correo</label>
                                                    <input type="email" name="correo" formControlName='correo' class="form-control"  required value="">
                                                    <div class="alert alert-danger mt-2" *ngIf="correo.invalid && (correo.dirty|| correo.touched)"  >
                                                        <div class="container-error-message">
                                                            El correo es requerido
                                                        </div>
                                                        <div class="container-error-message">
                                                            El correo no tiene el formato correcto
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <label for="">Username</label>
                                                    <input type="text" name="username" formControlName='username' class="form-control" required value="">
                                                    <div class="alert alert-danger mt-2" *ngIf="username.invalid && (username.dirty|| username.touched)"  >
                                                        <div class="container-error-message">
                                                            El correo es requerido
                                                        </div>
                                                        <div class="container-error-message">
                                                            El correo no tiene el formato correcto
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <label for="">Nombre</label>
                                                    <input type="text" formControlName="nombre"  class="form-control" required value="">
                                                    <div class="alert alert-danger mt-2" *ngIf="nombre.invalid && (nombre.dirty|| nombre.touched)">
                                                        <div class="container-error-message">
                                                            El nombre es requerido
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <label for="">Apellido</label>
                                                    <input type="text" name="apellido" formControlName='apellido' class="form-control" required value="">
                                                    <div class="alert alert-danger mt-2" *ngIf="apellido.invalid && (apellido.dirty|| apellido.touched)"  >
                                                        <div class="container-error-message">
                                                            El apellido es requerido
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-lg-6">
                                                    <label for="">Estado</label><br>
                                                    <div class="row">
                                                        <mat-radio-group  aria-label="Estado" formControlName="estado">
                                                        <div class="col-lg-6">
                                                                <mat-radio-button [checked]="activo" value="true" >Activo</mat-radio-button>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <mat-radio-button [checked]="inactivo" value="false" >Inactivo</mat-radio-button>
                                                            </div>
                                                        </mat-radio-group>
                                                    </div>
                                                    <div class="alert alert-danger mt-2" *ngIf="estado.invalid">
                                                        <div class="container-error-message">
                                                            Debe Seleccionar un estado
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <label for="">Ciudad</label>
                                                    <mat-select formControlName='ciudadSelector'   class="form-control">
                                                        <mat-option *ngFor="let ciudad of ciudades" [value]="ciudad.codigo" >{{ciudad.nombre}}</mat-option>
                                                    </mat-select>
                                                    <div class="alert alert-danger" *ngIf='ciudadSelector.invalid && (ciudadSelector.dirty || ciudadSelector.touched) '>
                                                        <div class="alert-content">
                                                            La ciudad es obligatorio
                                            </div>
                                        </div>

                                                </div>
                                            </div>

                                        </div>
                                        <button type="submit" matStepperNext mat-button class="btn btn-primary">Guardar</button>
                                    </form>
                                </mat-step>
                                <mat-step [stepControl]="usuarioPerfilForm">
                                    <form [formGroup]='usuarioPerfilForm'>
                                        <ng-template matStepLabel>Asignar Perfiles</ng-template>
                                        <div class="mt-2">
                                            <div class="col-lg-12 mt-2">
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <label for="">Perfiles Disponibles</label>
                                                      <select size="10" class="form-control" formControlName='perfilesDisponibles'>
                                                          <option *ngFor="let perfil of perfilDisponible" value={{perfil.codigo}}> {{perfil.nombre}}</option>
                                                      </select>
      
                                                    </div>
                                                    <div class="col-lg-4 mt-4" style="text-align: center;">
                                                        <button class="btn btn-info" (click)='pasarUno()'>>></button>
                                                        <p></p>
                                                        <button class="btn btn-info" (click)='regresarUno()'><<</button>
                                                    </div>
                                                    <div class="col-lg-4">
                                                      <label for="">Perfiles No Disponibles</label>
                                                      <select size='10' class="form-control" formControlName='perfilesNoDisponibles'>
                                                          <option *ngFor="let perfil of perfilNoDisponible" value={{perfil.codigo}}> {{perfil.nombre}}</option>
                                                        </select>
                                                    </div>
      
                                                </div>
                                                <button mat-button matStepperNext class="btn btn-primary mt-3" type="button" (click)='regresar()'>Guardar</button>
                                            </div>
                                        </div>

                                    </form>
                                </mat-step>
                            </mat-horizontal-stepper>
                    </div>
                </div>
            </div>
    </div>
</div>