<app-titulo [titulo]="titulo"></app-titulo>
<div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6">
          <label for="username" >Usuarios</label>
          <input class="form-control"  (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
      </div>
      <div class="col-lg-4">

      </div>
      <div class="col-lg-2">
          <div class="row mt-4">
              <div class="col-lg-6">
                  <button type="submit" (click)="obtenerDatos()" class="btn btn-primary">Actualizar</button>
              </div>
              <div class="col-lg-6">
                  <a class="btn btn-success" routerLink="administrar-usuarios" style="color: white;">Nuevo</a>
              </div>
          </div>
      </div>

      </div>
            
        <div class="mt-3 col-lg-12 ">
            <div class="table ">
                <table mat-table [dataSource] ="dataSource"  class="col-lg-12 table-responsive-lg ">
                    <ng-container matColumnDef="codigo">
                        <th mat-header-cell *matHeaderCellDef> ID </th>
                        <td mat-cell *matCellDef="let user"> {{user.codigo}} </td>
                      </ng-container>
                      <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef> Nombre </th>
                        <td mat-cell *matCellDef="let user"> {{user.nombre}} </td>
                      </ng-container>
                      <ng-container matColumnDef="apellido">
                        <th mat-header-cell *matHeaderCellDef> Apellido </th>
                        <td mat-cell *matCellDef="let user"> {{user.apellido}} </td>
                      </ng-container>
                      <ng-container matColumnDef="username">
                        <th mat-header-cell *matHeaderCellDef> Usuario </th>
                        <td mat-cell *matCellDef="let user"> {{user.username}} </td>
                      </ng-container>
                      <ng-container matColumnDef="correo">
                        <th mat-header-cell *matHeaderCellDef> Correo </th>
                        <td mat-cell *matCellDef="let user"> {{user.correo}} </td>
                      </ng-container>
                      <ng-container matColumnDef="estaActivo">
                        <th mat-header-cell *matHeaderCellDef> Estado </th>
                        <td mat-cell *matCellDef="let user"> {{user.estaActivo}} </td>
                      </ng-container>
                      <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> Editar </th>
                        <td mat-cell *matCellDef="let user">
                            <button class="btn btn-primary" type="button" (click)="cargarUsuario(user.codigo)">Seleccionar</button>
                        </td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="5" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>
</div>