<app-titulo [titulo]="titulo"></app-titulo>
<div class="card">
    <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                  <label for="username" >Perfiles</label>
                  <input class="form-control"  (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
              </div>
              <div class="col-lg-4">
              </div>
              <div class="col-lg-2">
                  <div class="row mt-4">
                      <div class="col-lg-6">
                          <button type="submit" (click)="obtenerPerfiles()" class="btn btn-primary">Actualizar</button>
                      </div>
                      <div class="col-lg-6">
                          <button class="btn btn-success" (click)="nuevoPerfil()">Nuevo</button>
                      </div>
                  </div>
              </div>
            </div>
        <div class="mt-3 col-lg-12">
            <div class="table">
                <div class="table-responsive-lg ">
                    <table mat-table [dataSource] ="dataSource" class="col-lg-12" >
                        <ng-container matColumnDef="codigo">
                            <th mat-header-cell *matHeaderCellDef>Código </th>
                            <td mat-cell *matCellDef="let perfil"> {{perfil.codigo}} </td>
                          </ng-container>
                          <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef> Nombre </th>
                            <td mat-cell *matCellDef="let perfil"> {{perfil.nombre}} </td>
                          </ng-container>
                          <ng-container matColumnDef="estaActivo">
                            <th mat-header-cell *matHeaderCellDef> Estado </th>
                            <td mat-cell *matCellDef="let perfil"> {{perfil.estaActivo}} </td>
                          </ng-container>
                          <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef> Editar </th>
                            <td mat-cell *matCellDef="let perfil">
                                <button class="btn btn-primary" type="button" (click)="cargarPerfil(perfil.codigo)">Seleccionar</button>
                            </td>
                          </ng-container>
                          <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="5" showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>
