<app-titulo [titulo]='titulo'></app-titulo>
<div class="card">
    <div class="card-body">
        <div class="col-lg-12">
          <label for="">{{nombreProducto}}</label>
            <div class="row">
                <div class="col-lg-9">
                </div>
                <div class="col-lg-3">
                    <div class="row">
                      <div class="col-lg-4">
                        <button class="btn btn-info" (click)='exporterAsExcel()'>Exportar</button>
                      </div>
                        <div class="col-lg-4">
                            <button class="btn btn-success" (click)='buscar()'>Buscar</button>
                          </div>
                        <div class="col-lg-4">
                            <button class="btn btn-danger" (click)='regresar()'>Regresar</button>
                        </div>
                    </div>
                </div>
        </div>
        <div class="row col-lg-12">
            <div class="col-lg-4">
              <input type="text" class="form-control" (keyup)="applyFilter($event.target.value)" placeholder="Buscar" >
            </div>
            <form [formGroup]="busquedaForm" (submit)='buscar()' action="">
              <div class="row col-lg-12">
                <div class="col-lg-6">
                  <mat-form-field>
                    <mat-label>Fecha Inicio</mat-label>
                    <input matInput [matDatepicker]="fecha_inicio" formControlName='fecha_inicio' >
                    <mat-datepicker-toggle matSuffix [for]="fecha_inicio" ></mat-datepicker-toggle>
                    <mat-datepicker #fecha_inicio></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-lg-6">
                  <mat-form-field>
                    <mat-label>Fecha final</mat-label>
                    <input matInput [matDatepicker]="fecha_final" formControlName='fecha_final' >
                    <mat-datepicker-toggle matSuffix [for]="fecha_final"></mat-datepicker-toggle>
                    <mat-datepicker #fecha_final></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              </form>
          </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="table">
                        <div class="table-responsive-lg">
                            <table mat-table [dataSource] ="dataSource"  class="col-lg-12 table-responsive-lg ">
                                <ng-container matColumnDef="fecha">
                                    <th mat-header-cell *matHeaderCellDef> Fecha </th>
                                    <td mat-cell *matCellDef="let producto"> {{producto.fecha}} </td>
                                  </ng-container>
                                  <ng-container matColumnDef="descripcion">
                                    <th mat-header-cell *matHeaderCellDef> Descripción</th>
                                    <td mat-cell *matCellDef="let producto"> {{producto.descripcion}} </td>
                                  </ng-container>
                                  <ng-container matColumnDef="entrada">
                                    <th mat-header-cell *matHeaderCellDef> Cantidad Entrada </th>
                                    <td mat-cell *matCellDef="let producto"> {{producto.entrada}} </td>
                                  </ng-container>
                                  <ng-container matColumnDef="salida">
                                    <th mat-header-cell *matHeaderCellDef> Cantidad Salida </th>
                                    <td mat-cell *matCellDef="let producto"> {{producto.salida}} </td>
                                  </ng-container>
                                  <ng-container matColumnDef="stock">
                                    <th mat-header-cell *matHeaderCellDef> Stock </th>
                                    <td mat-cell *matCellDef="let producto"> {{producto.stock}} </td>
                                  </ng-container>
                                  <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
                                  <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
                            </table>
                            <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="5" showFirstLastButtons></mat-paginator>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
