<app-titulo [titulo]="titulo"></app-titulo>

    <div class="card">
        <div class="card-body" style="text-align: center;">
            <div class="col-lg-12 col-sm-3">
                <img src="../../../assets/images/NUO-Pulb.jpg" style='width: 70%;' alt="" >
            </div>
        </div>
    </div>
