<app-titulo [titulo]='titulo'></app-titulo>
<div class="card">
    <div class="card-body">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-10">
                </div>
                <div class="col-lg-2">
                    <div class="row">
                        <div class="col-lg-6">
                            <button class="btn btn-success" (click)='guardarProducto()' type="submit">Guardar</button>
                        </div>
                        <div class="col-lg-6">
                            <button class="btn btn-danger" (click)='regresar()'>Regresar</button>
                        </div>
                    </div>
                </div>
        </div>
            <div class="row">
                <form action="" [formGroup]='productoForm' (submit)='guardarProducto()' class="col-lg-12">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-4">
                                <label for="">Nombre</label>
                                <input type="text" class="form-control" formControlName='nombre'>
                                <div class="alert alert-danger mt-1" *ngIf='nombre.invalid && (nombre.dirty || nombre.touched)'>
                                    <div class="alert-content">
                                        El nombre es obligatorio
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <label for="">N° Parte</label>
                                <input type="text" class="form-control" formControlName='parte'>
                                <div class="alert alert-danger mt-1" *ngIf='parte.invalid && (parte.dirty || parte.touched)'>
                                    <div class="alert-content">
                                       El numero de parte es obligatorio
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-4">
                                <label for="">N° Serie</label>
                                <input type="text" class="form-control" formControlName='serie'>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-lg-4">
                                <label for="">Tipo</label>
                                <mat-select formControlName='tipoSelector'    class="form-control">
                                    <mat-option *ngFor="let tipo of tipos" [value]="tipo.codigo" >{{tipo.nombre}}</mat-option>
                                </mat-select>
                                <div class="alert alert-danger mt-1" *ngIf='tipoSelector.invalid && (tipoSelector.dirty || tipoSelector.touched)'>
                                    <div class="alert-content">
                                       Debe ingresar un tipo de producto
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <label for="">Modelo</label>
                                <mat-select formControlName='modeloSelector'  class="form-control">
                                    <mat-option *ngFor="let modelo of modelos" [value]="modelo.codigo" >{{modelo.nombre}}</mat-option>
                                </mat-select>
                                <div class="alert alert-danger mt-1" *ngIf='modeloSelector.invalid && (modeloSelector.dirty || modeloSelector.touched)'>
                                    <div class="alert-content">
                                       Debe ingresar un modelo
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <label for="">Proveedor</label>
                                <mat-select formControlName='proveedorSelector'  class="form-control">
                                    <mat-option *ngFor="let proveedor of proveedores" [value]="proveedor.codigo" >{{proveedor.nombre}}</mat-option>
                                </mat-select>
                                <div class="alert alert-danger mt-1" *ngIf='proveedorSelector.invalid && (proveedorSelector.dirty || proveedorSelector.touched)'>
                                    <div class="alert-content">
                                       Debe ingresar un proveedor
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-lg-4">
                                <label for="">Cantidad Mínima</label>
                                <input type="text" class="form-control" formControlName='cantidadMinima'>
                                <div class="alert alert-danger" *ngIf='cantidadMinima.invalid && (cantidadMinima.dirty || cantidadMinima.touched)'>
                                    <div class="alert-content">
                                        Debe ingresar una cantidad mínima
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mt-2">
                                <mat-radio-group aria-label="Estado"  formControlName='estado'>
                                    <div class="col-lg-6">
                                        <label for="">Estado</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <mat-radio-button [checked]="activo" value=true>Activo</mat-radio-button>
                                    </div>
                                    <div class="col-lg-6">
                                        <mat-radio-button [checked]="inactivo" value=false>Inactivo</mat-radio-button>
                                    </div>
                                </mat-radio-group>
                                <div class="alert alert-danger" *ngIf='estado.invalid && (estado.dirty || estado.touched)'>
                                    <div class="alert-content">
                                        Debe seleccionar un estado
                                    </div>
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
