<app-titulo [titulo]="titulo"></app-titulo>
<div class="card">
    <div class="card-body">
        <form class="form-group row col-lg-12" #f="ngForm" >
            <div class="col-lg-4">
                <label for="bodega" >Producto</label>
                <input class="form-control"  (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
            </div>
            <div class="col-lg-6">

            </div>
            <div class="col-lg-2">
                    <div class="col-lg-12 mt-4">
                      
                    </div>
            </div>
        </form>
        <div class="mt-3 col-lg-12">
            <div class="table ">
                <table mat-table [dataSource] ="dataSource"  class="col-lg-12 table-responsive-lg ">
                    <ng-container matColumnDef="codigo">
                        <th mat-header-cell *matHeaderCellDef> ID </th>
                        <td mat-cell *matCellDef="let producto"> {{producto.codigo}} </td>
                      </ng-container>
                      <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef> Nombre </th>
                        <td mat-cell *matCellDef="let producto"> {{producto.nombre}} </td>
                      </ng-container>
                      <ng-container matColumnDef="modelo">
                        <th mat-header-cell *matHeaderCellDef> Modelo </th>
                        <td mat-cell *matCellDef="let producto"> {{producto.modelo}} </td>
                      </ng-container>
                      <ng-container matColumnDef="tipo">
                        <th mat-header-cell *matHeaderCellDef> Tipo </th>
                        <td mat-cell *matCellDef="let producto"> {{producto.tipo}} </td>
                      </ng-container>
                      <ng-container matColumnDef="parte">
                        <th mat-header-cell *matHeaderCellDef> N° Parte </th>
                        <td mat-cell *matCellDef="let producto"> {{producto.parte}} </td>
                      </ng-container>
                      <ng-container matColumnDef="serie">
                        <th mat-header-cell *matHeaderCellDef> N° Serie </th>
                        <td mat-cell *matCellDef="let producto"> {{producto.serie}} </td>
                      </ng-container>
                      <ng-container matColumnDef="estado">
                        <th mat-header-cell *matHeaderCellDef> Estado </th>
                        <td mat-cell *matCellDef="let producto"> {{producto.estado}} </td>
                      </ng-container>
                      
                      <ng-container matColumnDef="despachar">
                        <th mat-header-cell *matHeaderCellDef> Despachar </th>
                        <td mat-cell *matCellDef="let producto">
                            
                            <button class="btn btn-success" type="button" (click)='mostrarModalDespacho(producto)'  >Despachar</button>
                            
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="ingresar">
                        <th mat-header-cell *matHeaderCellDef> Ingresar </th>
                        <td mat-cell *matCellDef="let producto">
                            
                            <button class="btn btn-warning" type="button" (click)='mostrarModalEntrada(producto)'>Ingresar</button>
                            
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="mover">
                        <th mat-header-cell *matHeaderCellDef> Mover </th>
                        <td mat-cell *matCellDef="let producto">
                            <button class="btn btn-danger" type="button" (click)='mostrarModalMovimiento(producto)'>Mover</button>
                        </td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="5" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>
</div>