<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item nav-profile">
        <div class="nav-link">
          <div class="profile-image">
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink='/home' >
          <i class="menu-icon fa fa-home"></i>
          <span class="menu-title">Inicio</span>
        </a>
      </li>
      <li class="nav-item"  *ngFor="let grupo of grupoPaginas">
        <a class="nav-link" data-toggle="collapse" href="#{{grupo.nombre.toLowerCase()}}" aria-expanded="false" aria-controls="ui-basic">
        <i class="menu-icon {{grupo.icono}}"></i>
          <span class="menu-title">{{grupo.nombre}}</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="{{grupo.nombre.toLowerCase()}}">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item" *ngFor="let pagina of grupo.pagina">
            <app-pagina [pagina]='pagina'></app-pagina>
          </li>
        </ul>
      </div>
      </li>
    </ul>
  </nav>
