<app-titulo [titulo]='titulo'></app-titulo>
<div class="card">
    <div class="card-body">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-9">
                </div>
                <div class="col-lg-3">
                          <div class="row">
                            <div class="col-lg-6">
                              <button class="btn btn-info" (click)='exporterAsExcel()'>Exportar</button>
                            </div>
                            <div class="col-lg-6">
                              <button class="btn btn-danger" (click)='regresar()'>Regresar</button>
                            </div>

                          </div>
                    </div>
                </div>
        </div>
        <div class="row col-lg-12">
          <div class="col-lg-4">
            <input type="text" class="form-control" (keyup)="applyFilter($event.target.value)" placeholder="Buscar" >
          </div>
        </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="table">
                        <div class="table-responsive-lg">
                            <table mat-table [dataSource] ="dataSource"  class="col-lg-12 table-responsive-lg ">
                                <ng-container matColumnDef="parte">
                                    <th mat-header-cell *matHeaderCellDef>N° Parte</th>
                                    <td mat-cell *matCellDef="let producto"> {{producto.parte}} </td>
                                  </ng-container>
                                  <ng-container matColumnDef="nombre">
                                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                                    <td mat-cell *matCellDef="let producto"> {{producto.nombre}} </td>
                                  </ng-container>
                                  <ng-container matColumnDef="serie">
                                    <th mat-header-cell *matHeaderCellDef> Serie </th>
                                    <td mat-cell *matCellDef="let producto"> {{producto.serie}} </td>
                                  </ng-container>
                                  
                                  <ng-container matColumnDef="cantidad">
                                    <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                                    <td mat-cell *matCellDef="let producto"> {{producto.cantidad}} </td>
                                  </ng-container>
                                  <ng-container matColumnDef="ubicacion">
                                    <th mat-header-cell *matHeaderCellDef> Ubicacion </th>
                                    <td mat-cell *matCellDef="let producto"> {{producto.ubicacion}} </td>
                                  </ng-container>
                                  <ng-container matColumnDef="modelo">
                                    <th mat-header-cell *matHeaderCellDef> Modelo </th>
                                    <td mat-cell *matCellDef="let producto"> {{producto.modelo}} </td>
                                  </ng-container>
                                  <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
                                  <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
                            </table>
                            <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="5" showFirstLastButtons></mat-paginator>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

